<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior" name="BoggleService.Services.UserManager">
                <endpoint address="UserManager" binding="netTcpBinding" bindingConfiguration="" contract="BoggleService.Contracts.IUserManagerContract" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8130/BoggleServices" />
                        <add baseAddress="net.tcp://localhost:8140/BoggleServices" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>