<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="BoggleService.Services.BoggleServices">
        <endpoint address="UserManager" binding="netTcpBinding" bindingConfiguration=""
          contract="BoggleService.Contracts.IUserManagerContract" />
        <endpoint address="GameManager" binding="netTcpBinding" bindingConfiguration=""
          contract="BoggleService.Contracts.IGameManagerContract" />
        <endpoint address="LobbyManager" binding="netTcpBinding" bindingConfiguration=""
          contract="BoggleService.Contracts.ILobbyManagerContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8130/BoggleServices" />
            <add baseAddress="net.tcp://localhost:8140/BoggleServices " />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="BoggleContext"
         connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=BoggleDatabase; Integrated Security=True; MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    
    <!-- Configuración para la transferencia de archivos -->
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="Port" value="587" />
    <add key="AddressFrom" value="terrazamr@gmail.com" />
    <add key="PasswordFrom" value="B!M8:Gp:7cAYGx3"/>
    
    <!-- Configuración para conexión a la base de datos -->
  
  
  </appSettings>


</configuration>